*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {  
    background: url("/img/bg3.webp");
    opacity:0.9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: cover;
    box-sizing: border-box;
}

.topbar{
    position: fixed;
    background:rgb(181, 171, 171);
    box-shadow:(0,0,0,0.08);
    width:100%;
    height:60px;
    padding:0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}
a {
    color: rgb(181, 171, 171);
    text-decoration: none;
    margin-right: 16px;
}