<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/global icon.jpg">
</head>
<body>
    <div class="regform">   
        <h2>Register</h2>
    <form action="">  
            <div class="input">
                <label>Username : </label>   
                <input type="text" placeholder="Enter Username" name="username" required>
            </div>
            <br>
            <br>  
            <div class="input">
                <label>Password : </label>   
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <br>
            <br>
            <div class="input">
                <label> Re-enter Password : </label>   
                <input type="Re-enter password" placeholder="Re-enter Password" name="password" required> 
            </div>
            <br>
            <br>
            <div class="btn">
                <button>Register</button>   
            </div>
            <br>
            <br>
            <div>
                <a href="#"> Back to Register Page </a>   
            </div>       
        </div>   
    </form>     
</body>
</html>